<h2 class="page-title">Revenue configuration</h2>

<form [formGroup]="formGroup" class="row" dialog-content>

  <div *ngIf="formGroup.get('code') as code"
       class="form-group col-xs-12 col-md-6">
    <mat-form-field>
      <input matInput placeholder="Name" type="text" [formControl]="code">
      <mat-error *ngIf="formGroup.get('code').hasError('required')">Code is required</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field *ngIf="formGroup.get('type') as type"
                  [class]="'form-group col-xs-12 col-md-6'">
    <mat-select placeholder="Type" [formControl]="type">
      <mat-option *ngFor="let type of revenueTypes" [value]="type.id">{{type.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('type').hasError('required')">Type is required</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="formGroup.get('store') as store"
                  [class]="'form-group col-xs-12 col-md-6'">
    <mat-select placeholder="Store" [formControl]="store">
      <mat-option *ngFor="let store of availableStore" [value]="store.id">
        {{store.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-group col-xs-12 col-md-6 d-flex align-items-center">
    <mat-checkbox [formControl]="formGroup.get('hasAutoDecrease')">Reduce from</mat-checkbox>
    <mat-form-field *ngIf="formGroup.get('categories') as categories">
      <mat-select [formControl]="categories"
                  [disabled]="!formGroup.get('hasAutoDecrease').value"
                  placeholder="Category">
        <mat-option *ngFor="let category of availableCategories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group col-xs-12 col-md-6 d-flex align-items-center">
    <mat-checkbox [formControl]="formGroup.get('hasProductionCost')"
                  (click)="disableControl('productionCostAmount', formGroup.get('hasProductionCost').value)">
    </mat-checkbox>
    <mat-form-field *ngIf="formGroup.get('productionCostAmount') as productionCostAmount">
      <input [formControl]="productionCostAmount" matInput placeholder="Production costs" type="number">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  </div>

  <div class="form-group col-xs-12 col-md-6 d-flex align-items-center">
    <mat-checkbox [formControl]="formGroup.get('hasFixedRevenueAmount')"
                  (click)="disableControl('revenueAmount', formGroup.get('hasFixedRevenueAmount').value)">
    </mat-checkbox>
    <mat-form-field *ngIf="formGroup.get('revenueAmount') as revenueAmount">
      <input [formControl]="revenueAmount" matInput placeholder="Amount" type="number">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  </div>

  <div class="form-group col-xs-12 col-md-6 d-flex align-items-center">
    <mat-checkbox [formControl]="formGroup.get('hasTaxes')"
                  (click)="disableControl('taxAmount', formGroup.get('hasTaxes').value)">
    </mat-checkbox>
    <mat-form-field *ngIf="formGroup.get('taxAmount') as taxAmount">
      <input [formControl]="taxAmount" matInput placeholder="Value" type="number">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>%</span>
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions>
  <button class="btn btn-" mat-button mat-dialog-close>Cancel</button>
  <button class="btn btn-info" mat-button [mat-dialog-close]="true" [disabled]="formGroup.invalid">Add setting</button>
</mat-dialog-actions>
