<mat-card>
  <h2 class="card-title">{{title}}</h2>
  <div *ngIf="cardIcon" class="card-label {{cardBackground}}">
    <mat-icon class="mat-icon-rtl-mirror">{{cardIcon}}</mat-icon>
  </div>
  <ng-content></ng-content>
</mat-card>

