@import "~styling/variables.scss";
@import "~styling/colors.scss";
@import "~styling/mixins.scss";

.card-label {
  &.light-purple {
    background: map_get($colors, 'light-purple');
  }
  &.mint {
    background: map_get($colors, 'mint');
  }
  &.soft-red {
    background: map_get($colors, 'soft-red');
  }
  &.orange {
    background: map_get($colors, 'orange');
  }
  @include card-shadow;
  padding: 8px 22px;
  display: inline;
  position: absolute;
  right: 5px;
  top: -15px;
}

// MATERIAL OVERRIDES

.mat-icon {
  font-size: 1.7rem;
  line-height: 1.5;
  color: white;
  height: auto;
  width: auto;
}
