<div class="row">
  <div class="col-sm-12 col-md-10">
    <custom-card>
      <mat-card-content>
        <mat-tab-group class="demo-tab-group">
          <mat-tab label="Tab 1" disabled>
            <ng-template mat-tab-label>
              <mat-icon>store</mat-icon>
              <div>Store</div>

            </ng-template>
            <div class="demo-tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </div>
          </mat-tab>
          <mat-tab label="Tab 2" aria-selected="true">
            <ng-template mat-tab-label>
              <mat-icon>trending_up</mat-icon>
              <div>Entrate</div>

            </ng-template>
            <div class="demo-tab-content">
              <!--<revenue></revenue>-->
            </div>
          </mat-tab>
          <mat-tab label="Tab 3">
            <ng-template mat-tab-label>
              <mat-icon>trending_down</mat-icon>
              <div>Uscite</div>

            </ng-template>
            No content
          </mat-tab>
          <mat-tab label="Tab 4">
            <ng-template mat-tab-label>
              <mat-icon>build</mat-icon>
            </ng-template>
            <div class="demo-tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
              <br/>
              <br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </custom-card>
  </div>
  <div class="col-sm-12 col-md-2">
    <custom-card>
      <button class="btn btn-info navbar-btn" (click)="openRevenueDialog()">Nuova entrata</button>
      <button class="btn btn-danger navbar-btn" (click)="openCostDialog()">Nuova uscita</button>
    </custom-card>
  </div>
</div>
