@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed|Ubuntu+Condensed|Lato');
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~@angular/material/theming';
@include mat-core();
@import './material-override';
@import './variables';

$my-theme-primary: mat-palette($mat-teal, 700, 300, 900);
$my-theme-accent: mat-palette($mat-teal);
$my-theme-warn: mat-palette($mat-red, 700);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

@include angular-material-theme($my-theme);

body {
  font-family: $primary-font;
  background: whitesmoke;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  font-family: $secondary-font;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

//style-reset
* {
  &:active,
  :focus {
    outline: none !important;
  }
}

label {
  margin-bottom: 0;
}

html,
body {
  height: 100%;
  font-size: 90%;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.title-block {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 0.8em;
}

button.btn {
  font: 0.75rem $button-font;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.8rem;
  white-space: normal;

  &.btn-info {
    background: map_get($colors, 'mint');
  }

  &.btn-danger {
    background: map_get($colors, 'soft-red');
  }
}

.card-title {
  font-family: $card-font;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.page-title {
  display: block;
  padding-bottom: 30px;
}
