@import "./variables";
@import "./colors";

.material-icons {
  font-size: 1.5rem;
}

.mat-form-field {
  width: 100%;
}

input.mat-input-element, input::placeholder {
  font-family: $input-font;
  font-size: 1rem;
}

.md-input-table {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  width: 100%;
}

.md-input-infix {
  position: relative;
  flex: 1;
}

.mat-card {
  margin: 1rem 0;
}

.mat-toolbar {
  &.even {
    background: map_get($colors, 'grey-opaque-1');
  }
  &.odd {
    background: map_get($colors, 'grey-opaque-2');
  }
  &.mat-toolbar-single-row {
    position: relative;
    height: auto;
    font-size: 1rem;
    text-transform: capitalize;
  }
}

.mat-checkbox {
  margin-right: 1rem;
}

.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element  {
  border-color: map_get($colors, 'soft-red');
  caret-color:  map_get($colors, 'soft-red') !important;
}
.md-input.ng-valid.ng-dirty {
  border-color: map_get($colors, 'mint');
  caret-color:  map_get($colors, 'mint') !important;
}
