@import "colors";

@mixin light-blue-gradient {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin card-shadow {
    -webkit-box-shadow: 1px 2px 10px map_get($colors, 'shadow-gray');
    -moz-box-shadow: 1px 2px 10px map_get($colors, 'shadow-gray');
    box-shadow: 1px 2px 10px map_get($colors, 'shadow-gray');
}
