<div class="row">

  <div class="col-sm-12 col-md-6 col-xl-3">
    <custom-card title="Task"
                 cardIcon="storage"
                 cardBackground="orange">
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Add a task" [(ngModel)]="taskValue"/>
        <button mat-button matSuffix mat-icon-button aria-label="Type your task" (click)="taskManagerService.addTask(taskValue)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-form-field>
    </custom-card>
  </div>

  <div class="col-sm-12 col-md-6 col-xl-3">
    <custom-card title="Sold"
                 cardIcon="trending_up"
                 cardBackground="mint">
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="New sold" [(ngModel)]="taskValue"/>
        <button mat-button matSuffix mat-icon-button aria-label="Type your task" (click)="taskManagerService.addTask(taskValue)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-form-field>
    </custom-card>
  </div>

  <div class="col-sm-12 col-md-6 col-xl-3">
    <custom-card title="Expense"
                 cardIcon="trending_down"
                 cardBackground="soft-red">
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="New expense" [(ngModel)]="taskValue"/>
        <button mat-button matSuffix mat-icon-button aria-label="Type your task" (click)="taskManagerService.addTask(taskValue)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-form-field>
    </custom-card>
  </div>

  <div class="col-sm-12 col-md-6 col-xl-3">
    <custom-card title="Monthly Balance"
                 cardIcon="monetization_on"
                 cardBackground="light-purple">
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="New expense" [(ngModel)]="taskValue"/>
        <button mat-button matSuffix mat-icon-button aria-label="Type your task" (click)="taskManagerService.addTask(taskValue)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-form-field>
    </custom-card>
  </div>

  <div class="col-sm-12 col-md-9">
  </div>
  <div class="col-sm-12 col-md-3">
    <mat-card>
      <h2 class="card-title">Task List</h2>
      <div class="task-row" *ngFor="let task of taskManagerService.getTasks() | async">
        <mat-toolbar [class.even]="task.id % 2 === 0"
                     [class.odd]="task.id % 2 !== 0">
          <div *ngIf="task.completed" class="strike"></div>
          <div class="task-item col-12"
               [class.completed]="task.completed"
               (click)="taskManagerService.toggleTask(task.id)">{{ task.text }}
          </div>
        </mat-toolbar>
      </div>
    </mat-card>
  </div>
</div>
