@import "~styling/colors";

.mat-toolbar {
  .strike {
    position: absolute;
    width: 100%;
    height: 1px;
    background: map_get($colors, 'grey-opaque-4');
    top: 50%;
    left: 0;
  }

  .task-item {
    text-align: center;
    &.completed {
      color: map_get($colors, 'grey-opaque-3');
    }
  }
}
