@import "~styling/main";
@import "~styling/colors";

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 95vh;
  height: 100%;
  background: #01406C; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0186d3, #01639c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0186d3, #01639c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 6px 10px #cacaca;

  .sidebar-header {
    padding: 20px;

    strong {
      display: none;
      font-size: 1.8em;
    }
  }

  ul {
    &.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }
    li a {
      text-align: left;
      padding: 10px;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }

      &:hover {
        color: #6d7fcc;
        background: #fff;
      }

      .mat-icon {
        font-size: 24px;
        margin-right: 1rem;
      }
      @include media-breakpoint-down(lg) {
        .mat-icon {
          font-size: 24px;
          display: block;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &.active {
    min-width: 125px;
    max-width: 125px;
    text-align: center;

    &.sidebar-header h3 {
      display: none;
    }

    .sidebar-header {
      h3 {
        display: none;
      }
      strong {
        display: block;
      }
    }

    ul li a {
      padding: 1rem 0;
      text-align: center;
      font-size: 0.85em;
      display: flex;
      align-items: center;
      flex-direction: column;
      .mat-icon {
        margin-bottom: 0.7rem;
        margin-right: 0;
      }
    }
  }

  .sidebar-footer {
    text-align: center;
  }

}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3, #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
