<nav id="sidebar" [class.active]="layoutStoreService.showSidebar$ | async">
  <div class="sidebar-header">
    <h3>Bootstrap Sidebar</h3>
    <strong>BS</strong>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a routerLink="home" class="title-block" data-toggle="collapse" aria-expanded="false">
        <mat-icon>pie_chart</mat-icon>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="store-configuration" href="#" class="title-block">
        <mat-icon>storet</mat-icon>
        Magazzino
      </a>
      <a class="title-block" data-toggle="collapse" aria-expanded="false">
        <mat-icon>credit_card</mat-icon>
        Fatturazione
      </a>
    </li>
    <li>
      <a href="#" class="title-block">
        <mat-icon>assignment</mat-icon>
        Task List
      </a>
    </li>
    <li>
      <a href="#" class="title-block">
        <mat-icon>shopping_cart</mat-icon>
        Parametri
      </a>
    </li>
    <li>
      <a href="#" class="title-block">
        <mat-icon>build</mat-icon>
        Impostazioni
      </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" (click)="layoutStoreService.toggle()">
      <i class="glyphicon glyphicon-align-left"></i>
      <span>Toggle Sidebar</span>
    </button>
  </div>
</nav>
